{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1> Página de About</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/node.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}